<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
   Medellin
    <abbr title="Phone">Cel Phone:</abbr>
    3206440616
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">neozaint@gmail.com</a><br />
</address>